%dt{id: @id, class: 'method-def'}
  %code.signature!= @signature
%dd{class: 'method-def m-t-md m-b-md'}
  - if @description
    != @description
  - if @examples
    != @examples
  - if @parameterBlock
    != @parameterBlock
  - if @returnValueBlock
    != @returnValueBlock