%h2= @name
%dl
  - if @description
    != @description
  - if @classProperties
    != @classProperties
  - if @properties
    != @properties
  - if @classMethods
    != @classMethods
  - if @methods
    != @methods